@model MusicStoreAPI.Models.CMS.TermsAndCondition
@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 ">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4 text-center">Terms & Conditions Details</h6>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <!-- Tab names -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-name-tab" data-bs-toggle="pill" data-bs-target="#pills-name" type="button" role="tab" aria-controls="pills-name" aria-selected="true">@Html.DisplayNameFor(model => model.Name)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="false">@Html.DisplayNameFor(model => model.Descriptions)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-active-tab" data-bs-toggle="pill" data-bs-target="#pills-active" type="button" role="tab" aria-controls="pills-active" aria-selected="false">Status</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-position-tab" data-bs-toggle="pill" data-bs-target="#pills-position" type="button" role="tab" aria-controls="pills-position" aria-selected="false">Position</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-creation-tab" data-bs-toggle="pill" data-bs-target="#pills-creation" type="button" role="tab" aria-controls="pills-create" aria-selected="false">Creation Date</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-update-tab" data-bs-toggle="pill" data-bs-target="#pills-update" type="button" role="tab" aria-controls="pills-update" aria-selected="false">Modification Date</button>
                    </li>
                </ul>

                <!-- each tab content -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-name" role="tabpanel" aria-labelledby="pills-name-tab" style="color: white;">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab" style="color: white;">
                        @Html.DisplayFor(model => model.Descriptions)
                    </div>
                    <div class="tab-pane fade" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab" style="color: white;">
                        @if (Model.isActive)
                        {
                            <span>This product is active</span>
                        }
                        else
                        {
                            <span>Inactive Product</span>
                        }
                    </div>

                    <div class="tab-pane fade" id="pills-position" role="tabpanel" aria-labelledby="pills-position-tab" style="color: white;">
                        <span>Position is: @Html.DisplayFor(model => model.Position)</span>
                    </div>
                    <div class="tab-pane fade" id="pills-creation" role="tabpanel" aria-labelledby="pills-creation-tab" style="color: white;">
                        <span>@Html.DisplayFor(model => model.DateAdded)</span>
                    </div>
                    <div class="tab-pane fade" id="pills-update" role="tabpanel" aria-labelledby="pills-update-tab" style="color: white;">
                        <span>@Html.DisplayFor(model => model.ModificationDate)</span>
                    </div>
                </div>
                <br>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success m-2">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-info m-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
