@model MusicStoreAPI.Models.CMS.MusicStoreAddress

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 ">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4 text-center" style="font-size: larger;">Music Store Address Details</h6>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <!-- Tab names -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-name-tab" data-bs-toggle="pill" data-bs-target="#pills-name" type="button" role="tab" aria-controls="pills-name" aria-selected="true">@Html.DisplayNameFor(model => model.Name)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="false">@Html.DisplayNameFor(model => model.Descriptions)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-address-tab" data-bs-toggle="pill" data-bs-target="#pills-address" type="button" role="tab" aria-controls="pills-address" aria-selected="false">@Html.DisplayNameFor(model => model.Address)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-address2-tab" data-bs-toggle="pill" data-bs-target="#pills-address2" type="button" role="tab" aria-controls="pills-address2" aria-selected="false">@Html.DisplayNameFor(model => model.Address2)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-mobile-tab" data-bs-toggle="pill" data-bs-target="#pills-mobile" type="button" role="tab" aria-controls="pills-mobile" aria-selected="false">@Html.DisplayNameFor(model => model.PhoneNumer)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-email-tab" data-bs-toggle="pill" data-bs-target="#pills-email" type="button" role="tab" aria-controls="pills-email" aria-selected="false">@Html.DisplayNameFor(model => model.EmailAdres)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-active-tab" data-bs-toggle="pill" data-bs-target="#pills-active" type="button" role="tab" aria-controls="pills-active" aria-selected="false">Status</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-position-tab" data-bs-toggle="pill" data-bs-target="#pills-position" type="button" role="tab" aria-controls="pills-position" aria-selected="false">@Html.DisplayNameFor(model => model.Position)</button>
                    </li>
                </ul>

                <!-- each tab content -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-name" role="tabpanel" aria-labelledby="pills-name-tab" style="color: white;">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                    <div class="tab-pane fade" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab" style="color: white;">
                        @Html.DisplayFor(model => model.Descriptions)
                    </div>
                    <div class="tab-pane fade show active" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab" style="color: white;">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                    <div class="tab-pane fade" id="pills-address2" role="tabpanel" aria-labelledby="pills-address2-tab" style="color: white;">
                        @Html.DisplayFor(model => model.Address2)
                    </div>
                    <div class="tab-pane fade show active" id="pills-mobile" role="tabpanel" aria-labelledby="pills-mobile-tab" style="color: white;">
                        @Html.DisplayFor(model => model.PhoneNumer)
                    </div>
                    <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab" style="color: white;">
                        @Html.DisplayFor(model => model.EmailAdres)
                    </div>
                    <div class="tab-pane fade" id="pills-active" role="tabpanel" aria-labelledby="pills-active-tab" style="color: white;">
                        @if (Model.isActive)
                        {
                            <span>This product is active</span>
                        }
                        else
                        {
                            <span>Inactive Product</span>
                        }
                    </div>

                    <div class="tab-pane fade" id="pills-position" role="tabpanel" aria-labelledby="pills-position-tab" style="color: white;">
                        <span>Position is: @Html.DisplayFor(model => model.Position)</span>
                    </div>
                </div>
                <br>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success m-2">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-info m-2">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

 