@model IEnumerable<MusicStoreAPI.Models.CMS.MusicStoreAddress>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/customStyles.css" />
</head>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4 text-center" style="font-size: larger;">Store Address</h6>
                <p>
                    <a asp-action="Create" class="btn btn-success m-2">
                        <i class="bi bi-plus-circle"></i>
                        Add Conditions
                    </a>
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.Name)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.Descriptions)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.Address)</h6>
                                </th>
                                 <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.Address2)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.PhoneNumer)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.EmailAdres)</h6>
                                </th>
                                <th>
                                    <h6 class="mb-4">Status</h6>
                                </th>
                                <th>
                                    <h6 class="mb-4"> @Html.DisplayNameFor(model => model.DateAdded)</h6>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descriptions)
                                        <br><br>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success m-2">Edit<i class="bi bi-pencil"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info m-2">Details<i class="bi bi-file-bar-graph"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary m-2">
                                            Delete<i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmailAdres)
                                       
                                    </td>
                                    <td>
                                        @if (item.isActive)
                                        {
                                            <span class="badge bg-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Deactive</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateAdded)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 