@model MusicStoreAPI.Models.CMS.MusicStoreAddress

<div class="col-md-4 col-sm-6 col-xs-12 col-footer">
    <div class=" box-footer block  box-contact">

        <div class="about__footer block">

            <h4 class="title_block">
                @Model.Name
            </h4>


                 @Model.Descriptions
 
 
                <p><i class="fa fa-map-marker"></i>  @Model.Address @Model.Address2</p>


                <p><i class="fa fa-phone"></i>  @Model.PhoneNumer</p>


                <p><i class="fa fa-envelope-o"></i>     @Model.EmailAdres</p>

         </div>

    </div>
</div>